
.show-details .container{
    display: flex;   
}


.details-title {
    padding: 10px;
}


.details-synopsis {
    padding: 40px;
}

.show-details a {
    color: yellow;
  }

.details-link {
    padding: 10px;
}




@media only screen and (max-width: 600px) {
    .show-details .container{
        display: flex;   
        flex-direction: column;
    }  

    .details-title {
        padding: 5px;
    }

    .details-synopsis {
        padding: 10px;
    }
  }