
.ShowDetails .container{
    display: flex;   
}

/* .ShowDetails .container .text,
.ShowDetails .container .image {
    padding: 15px;
} */

/* .text{
    color: white;
} */

.showDetails a {
    color: yellow;
  }




/* @media only screen and (max-width: 600px) {
    .ShowDetails .container{
        display: flex;   
        flex-direction: column;
    }  
  } */