body {
  background-color: rgba(0, 0, 0, 0.711);
  color: white;
  font-style: helvetica;
}

.App {
  text-align: center;
}

a {
  color: yellow;
}


.box {
  /* display: grid;
  grid-template-columns: repeat(autofit, minmax(150px, 1fr));   */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* flex-direction: row;
  background-color: black; */
}

.box > * {
  flex: 1;  
  flex-basis: 400px;
  position: relative;
  overflow: hidden;
}

.cover img {
  height: 100%;
  width: 100%;
      
}

.cover-overlay {
  transition: bottom ease-out 1s;
  bottom: -100%;
  position: absolute;
  opacity: 0.7;
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px;
  width: 100%;
  border: solid rgba(62, 63, 63, 0.993);
  font-family: nf-icon;
  font-weight: bold;
  left: 0;
  box-sizing: border-box;  
  
}


.cover:hover .cover-overlay { 
  bottom: 0;  
}








@media only screen and (max-width: 600px) {
  .box {
    flex-direction: column;
  }
}


