html {
  background-color: black;
}

.App {
  text-align: center;
  background-color: black;
}


.box {
  display: flex;
  flex-direction: row;
  background-color: black;
  

}

.singleTitle {
  position: relative;
  overflow: hidden;
}

.showPicture {
  flex: 1;  
  font-family: sans-serif;
  padding: 0px;
        
}

.singleTitle:hover .showTitle{
  /* color:rgb(245, 7, 7); */
  bottom: 0;  
}



.showTitle {
  transition: bottom linear 1s;
  position: absolute;
  bottom: -30px;
  border: solid rgba(62, 63, 63, 0.993);
  color:white;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.767);
  border-radius: 15%;
  font-family: nf-icon;
  font-weight: bold;
}

.showDetails {
  color: rgb(224, 25, 174);
}


@media only screen and (max-width: 600px) {
  .box {
    flex-direction: column;
  }
}


