.App {
  text-align: center;
  
}

.fave {
  width: 100%;
  height: 60%;

}

.series {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  }

.flex1 {
  display: flex;
  flex-direction: row;
}

.flex2{
  display: flex;
  flex-direction: row;
}

.titles {
  

}

p{
  margin: 30px;
  text-align: center;
  font-size: 4em;
  flex:1;
}