html {
  background-color: black;
}

.App {
  text-align: center;
}


.box {
  /* display: grid;
  grid-template-columns: repeat(autofit, minmax(150px, 1fr));   */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* flex-direction: row;
  background-color: black; */
}

.box > * {
  flex: 1;  
  flex-basis: 300px;
  position: relative;
  overflow: hidden;
}

.cover img {
  height: 100%;
  width: 100%;
     
}

.cover-overlay {
  transition: bottom ease-out 2s;
  bottom: -100%;
  position: absolute;
  background-color: red;
  color: black;
  text-align: center;
  padding: 30px;
  width: 100%;
  border: solid rgba(62, 63, 63, 0.993);
  font-family: nf-icon;
  font-weight: bold;
  left: 0;
  box-sizing: border-box;  
  height: 30%;
}


.cover:hover .cover-overlay {
  color:rgb(245, 7, 7);
  bottom: 0;  
}





.showDetails {
  color: rgb(255, 0, 0);
}


/* @media only screen and (max-width: 600px) {
  .box {
    flex-direction: column;
  }
} */


